* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  header {
    border-bottom: 1px solid #eee;
  }
  
  header a {
    color: #000;
    text-decoration: none;
  }
  
  header .content {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
  }
  
  header .content ul {
    list-style-type: none;
    display: flex;
  }
  
  header .content ul li {
    margin-left: 20px;
    font-size: 18px;
  }
  
  header .active {
    color: #0000ff;
  }
  
  main.home {
    margin-top: 60px;
  }
  
  main .desc {
    color: #666;
    font-size: 18px;
    margin-top: 8px;
  }
  
  main.home .form-box {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
  }
  
  main.home .form-box input {
    flex: 1;
    border: none;
    outline: none;
    border: 1px solid #f0f0f0;
    height: 48px;
    font-size: 18px;
    padding: 0px 16px;
    /* padding-left: 16px;
      padding-right: 16px; */
    border-radius: 8px;
  }
  
  main.home .form-box button {
    border: none;
    border-radius: 8px;
    margin-left: 16px;
    height: 48px;
    padding: 0px 14px;
    font-size: 18px;
    background-color: #0000ff;
    color: #fff;
  }
  
  main.home .todo-list {
    margin-top: 24px;
  }
  
  main.home .todo-list .todo-item {
    background-color: #f6f6f6;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
    margin-top: 16px;
  }
  
  main.home .todo-list .todo-item p {
    font-size: 22px;
  }
  
  main.home .todo-list .todo-item button {
    border: none;
    background-color: #fff;
    border-radius: 8px;
    height: 32px;
    width: 32px;
    border: 1px solid #ff0000;
    color: #ff0000;
  }
  
  main.about {
    margin-top: 60px;
  }
  
  main.about img {
    margin-top: 80px;
    width: 100%;
  }
  
  /* Gloable */
  .container {
    width: 100%;
    max-width: 800px;
    padding: 0px 20px;
    margin: auto;
  }
  
  .fixed-btn {
    display: none;
    border: none;
    border-radius: 8px;
    margin-left: 16px;
    height: 48px;
    padding: 0px 14px;
    font-size: 18px;
    background-color: #0000ff;
    color: #fff;
    position: fixed;
    bottom: 20px;
    margin: 0;
    left: 20px;
    right: 20px;
  }
  
  @media screen and (max-width: 400px) {
    main.home .form-box button {
      /* position: fixed;
      bottom: 20px;
      margin: 0;
      left: 20px;
      right: 20px; */
      display: none;
    }
  
    .fixed-btn {
      display: block;
    }
  }